
.cards{
    margin-top: -10px;
}
.nav-link{
  display: inline-block;
  margin-block: 2px;
  position: relative;
}
.nav-link::after{
  content: '';
  width: 100%;
  border-radius: 4px; 
  position: absolute;
  left: 0; bottom: 0;
  transform: scaleX(0); transform-origin: left;
  transition: transform 0.25s ease;
}
.nav-link :hover::after{
  transform: scaleX(1);
}
/*section-title*/
.section-title {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 105px;
    margin-bottom: 30px;
    margin-top: -9px;
  }
  
  .section-title h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 38px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  
  .section-title .back-text {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    color: #000000;
    opacity: .04;
    text-transform: uppercase;
    font-size: 146px;
    font-weight: 900;
  }
  
  .section-title::before {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 1px;
    height: 50px;
    background: #000000;
    position: absolute;text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .section-title.white-color h2 {
    color: #ffffff;
  }
  
  .section-title.white-color .back-text {
    opacity: .06;
    color: #ffffff;
  }
  
  .section-title.white-color::before {
    background: #ffde29;
  }

/*Navbar*/
.navbar li a :hover{
  color: yellow;
}

.section-p1{
  padding: 40px 80px;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34 px rgb(0, 0, 0,0.5);
  transition: 0.2s ease;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54 px rgba(82, 82, 82, 0.486);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: green;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}

#product1{
  text-align: center;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: gold;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size:15px;
  font-weight: 700;
  color:#088178;
}

#product1 .pro .addcart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#product1 .pro .addcart:hover{
  color: #db0b96;
}
#product1 .pro .addcart::after{
  color: #db0b96;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}


/*#newsletter{
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}*/

/*Single productproduct page
*/

