@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.form {
    width: 450px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}

.form h1 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: bold;
}

.form p {
    text-align: center;
}

.form form {
    font-size: 20px;
}

.form form .form-group {
    margin-bottom: 12px;
}

.form form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.form h4 {
    font-size: 15px;
    margin: 10px 10px;
    font-weight: bold;
}

.icon button {
    border-style: none;
    border-color: white;
    border-style: none;
    margin-left: 35px;
    margin-right: 30px;
    padding: 10px;
}